lpass status 2>&1 >/dev/null
if [ $? = 0 ]; then
  note="aws-iam-access-keys"
  lpass show --notes $note 2>&1 >/dev/null
  if [ $? = 0 ]; then
    export AWS_ACCESS_KEY_ID=$(bosh int --path /BOSH_WINDOWS_RELEASE_BLOBS_S3_ACCESS_KEY_ID <(lpass show --notes $note))
    export AWS_SECRET_ACCESS_KEY=$(bosh int --path /BOSH_WINDOWS_RELEASE_BLOBS_S3_SECRET_ACCESS_ID <(lpass show --notes $note))
  fi
fi
